[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
djangorestframework = "*"
django-cors-headers = "*"
"psycopg2-binary" = "*"
fred = "*"
pytest-django = "*"
pytest = "*"
mypy = "*"
"flake8" = "*"
coverage = "*"
hypothesis = "*"
furl = "*"

[dev-packages]

[requires]
python_version = "3.7"
